doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1')
    link(href='lib/material.min.css', rel='stylesheet')
    // link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='lib/material-icons.css', rel='stylesheet')

    link(href='css/style.css', rel='stylesheet')

    script(src='lib/material.min.js')
    script(src='lib/jquery-2.2.0.min.js') 
    script(src='lib/require.min.js') 
  body
    #pg-search.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-shadow--8dp
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back

        .mdl-layout__header-row
 
          .mdl-textfield.mdl-js-textfield.mdl-textfield--full-width
            input.mdl-textfield__input#search-form__search(onchange='searchUsers();') (type='text')
            label.mdl-textfield__label Search
          
        // button.mdl-button.mdl-button--colored.mdl-button--raised(onclick='searchUsers();') Search
      
      .mdl-layout__content
        .content
       
    #pg-main.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      a(href='#/page/add')
        button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.floating-button
          i.material-icons person_add
      
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Numerology
          a(href='#/page/search')
            i.material-icons search 
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a(href='#panel-contacts').mdl-layout__tab.is-active Contacts
          a(href='#panel-lifepath').mdl-layout__tab Life Path
          a(href='#panel-month').mdl-layout__tab Month
      
      .mdl-layout__drawer
        span.mdl-layout-title Numerology
        nav.mdl-navigation
          a.mdl-navigation__link(href='#/page/main/contacts') Contacts
          a.mdl-navigation__link(href='#/page/main/lifepath') Lifepath
          a.mdl-navigation__link(href='#/page/calcword') Word calculator
          a.mdl-navigation__link(href='#/page/calcdate') Date calculator

      .mdl-layout__content
        script#template__users(type='text/x-handlebars-template')
          ul.mdl-list
            {{#each users}}
            li.mdl-list__item.mdl-list__item--two-line
              span.mdl-list__item-primary-content
                a(href='#/page/user/{{_id}}')
                  span.mdl-list__item-icon.contact__lifepath {{lifepath}}
                  span {{name}}
                  span.mdl-list__item-sub-title {{date}}-{{month}}-{{year}}
              span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(onclick="window.db.contactStar('{{_id}}');")
                  {{#if star}}
                  i.material-icons.contact__star star
                  {{else}}
                  i.material-icons.contact__star star_border
                  {{/if}}
            {{/each}}
        script#template__users--empty(type='text/x-handlebars-template')
          h3.contact__empty No contacts found. Add one now

        .mdl-layout__tab-panel.is-active#panel-contacts 
          h3.contact__empty No contacts found. Add one now 
        .mdl-layout__tab-panel#panel-lifepath
          h3.contact__empty No contacts found. Add one now
        .mdl-layout__tab-panel#panel-month
          h3.contact__empty No contacts found. Add one now
      
      // TODO testing ads out
      .chitika
        script ( function() {if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };var unit = {"calltype":"async[2]","publisher":"ongspxm","width":480, "height":50,"sid":"Chitika Default"};var placement_id = window.CHITIKA.units.length;window.CHITIKA.units.push(unit);document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');}());
        script(async='async', src='http://cdn.chitika.net/getads.js')

    #pg-add.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back

        .mdl-layout__header-row
          span.mdl-layout-title Add new contact

      .mdl-layout__content        
        form#add-form(onsubmit='form_add();')
          i.material-icons person

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#add-form__name(type='text')
            label.mdl-textfield__label(for='add-form__name') Name

          .add-form__date
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-form__date(type='text', pattern='[0-9]{2}')
              label.mdl-textfield__label(for='add-form__date') DD
            
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-form__month(type='text', pattern='[0-9]{2}')
              label.mdl-textfield__label(for='add-form__month') MM

            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-form__year(type='text', pattern='[0-9]{4}')
              label.mdl-textfield__label(for='add-form__year') YYYY

          button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect Add Contact
    #pg-user.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back
        
        .mdl-layout__header-row
          span.mdl-layout-title#user__title
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a(href='#panel-figure').mdl-layout__tab.is-active Chart
          a(href='#panel-name').mdl-layout__tab Name
          a(href='#panel-description').mdl-layout__tab Description 
          a(href='#panel-comp').mdl-layout__tab Compatibility

      .mdl-layout__content
        script#figureTemplate(type='text/x-handlebars-template')
          include ./src/svg-data.jade
        .mdl-layout__tab-panel.is-active#panel-figure
          figure#figure
          button.mdl-button.mdl-js-button.mdl-button--accent.mdl-button--raised.mdl-js-ripple-effect(onclick='window.delete_user();') Delete Contact
        
        .mdl-layout__tab-panel#panel-comp
          form.comp-form(onsubmit='calcComp();')
            .fields
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input#comp-form__date(type='text', pattern='[0-9]{2}')
                label.mdl-textfield__label(for='add-form__date') DD
              
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input#comp-form__month(type='text', pattern='[0-9]{2}')
                label.mdl-textfield__label(for='add-form__month') MM

              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input#comp-form__year(type='text', pattern='[0-9]{4}')
                label.mdl-textfield__label(for='add-form__year') YYYY

            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect Get Value
          
          #comp-details
            #text.mdl-typography--headline You guys will get along great
            #comp-bar.rating-bar
              .bar.bar1
              
          #comp-chart2
          #comp-chart

        .mdl-layout__tab-panel#panel-name
          .content
            #name.mdl-typography--display-2
            #number.mdl-typography--display-4
            #bar.rating-bar
              .bar
            #desc.mdl-typography--headline
            form#name-form
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input#name-form__name(type='text', placeHolder='Alternative Name')
              button.mdl-button.mdl-button--primary.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='window.tryName();') Try Name
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='window.changeName();') Change Name

        .mdl-layout__tab-panel#panel-description
          form#edit-form
            textarea.mdl-textfield__input#edit-form__desc(rows='10', placeHolder='Description')
            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick="window.form_save()") Save Description
          
          .debug
            textarea.mdl-textfield__input#debug(type='text', rows='3', placeHolder='debug')
            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick='window.debug();') debug
   
    #pg-calcword.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back
        
        .mdl-layout__header-row
          span.mdl-layout-title Calculating word
      
      .mdl-layout__content
        #name-title.mdl-typography--display-2 numerlogy
        #name-num.mdl-typography--display-4 4
        form
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#word-form__title(type='text')
            label.mdl-textfield__label(for='word-form__title') Title to calculate

          button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick='window.calcWord();') Get Value
  
    #pg-calcdate.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back
        
        .mdl-layout__header-row
          span.mdl-layout-title Calculating date
      
      .mdl-layout__content
        form.date-form
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#date-form__date(type='text', pattern='[0-9]{2}')
            label.mdl-textfield__label(for='add-form__date') DD
          
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#date-form__month(type='text', pattern='[0-9]{2}')
            label.mdl-textfield__label(for='add-form__month') MM

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#date-form__year(type='text', pattern='[0-9]{4}')
            label.mdl-textfield__label(for='add-form__year') YYYY

        button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick='window.calcDate();') Get Value
        
        #date-chart

    // scripts to load
    script.
      window.json = function(o){ return JSON.stringify(o); };
      //window.console.log = function(text){alert(text);};
      $('.debug')[0].style.display = 'none';
    script(src='js/database.js')
    script(src='js/app.js')
    script(src='js/startup.js') 
