svg(width='100%', viewBox='0 0 500 600')
  style.
    <![CDATA[
      #background{
        fill:#fff;
        stroke:#000;
        stroke-width:3;
      }
      
      #highlight.metal{
        fill:#DDDDDD;
      }

      #highlight.water{
        fill:#7FDBFF;
      }

      #highlight.wood{
        fill:#2ECC40;
      }

      #highlight.fire{
        fill:#FF851B;
      }

      #highlight.earth{
        fill:#FFDC00;
      }

      #boxes rect, #circles circle, #lines line{
        fill:#fff;
        stroke:#000;
        stroke-width:3;
      }

      #numbers{
        font-size:40px;
        font-family:Helvetica, Arial, Sans-Serif;
      }

      .bold{
        font-weight: bold;
      }
    ]]>
  
  rect#background(x='3',y='100',width='494',height='497')

  polygon#highlight(points='160,260 340,260 250,350')

  g#lines
    line(x1='0', y1='100', x2='500', y2='100')
    line(x1='0', y1='350', x2='500', y2='350')
    line(x1='0', y1='100', x2='250', y2='350')
    line(x1='500', y1='100', x2='250', y2='350')
    
    line(x1='250', y1='100', x2='250', y2='260')
    line(x1='80', y1='180', x2='420', y2='180')
    line(x1='160', y1='260', x2='340', y2='260')

  g#circles
    circle(r='30', cx='250', cy='95')
    circle(r='30', cx='250', cy='175')
    circle(r='30', cx='250', cy='255')
    circle(r='30', cx='250', cy='365')
 
    circle(r='30', cx='145', cy='175')
    circle(r='30', cx='365', cy='175')
  
  g#boxes
    rect(width='50', height='50', x='25', y='195')
    rect(width='50', height='50', x='430', y='195')

    rect(width='50', height='50', x='225', y='430')

  text#numbers
    tspan#figure-aa(x='240', y='110') {{aa}}
    tspan#figure-ab(x='240', y='190') {{ab}}
    tspan#figure-ac(x='240', y='270') {{ac}}
    tspan#figure-ad(x='240', y='380') {{ad}}
    
    tspan#figure-ba(x='135', y='190') {{ba}}
    tspan#figure-bb(x='355', y='190') {{bb}}

    tspan#figure-dd(x='60', y='75') {{dd}}
    tspan#figure-mm(dx='50') {{mm}}
    tspan#figure-y1(dx='70') {{y1}}
    tspan#figure-y2(dx='50') {{y2}}
    
    tspan#figure-l(x='85', y='150') {{l}}
    tspan#figure-m(x='180') {{m}}
    tspan#figure-n(x='305') {{n}}
    tspan#figure-o(x='405') {{o}}

    tspan#figure-p(x='180', dy='85') {{p}}
    tspan#figure-q(x='305') {{q}}

    tspan#figure-a(x='40') {{a}}
    tspan#figure-b(x='445') {{b}}
     
    tspan#figure-r.bold(x='240', dy='89') {{r}}
    tspan#figure-s(x='40') {{s}}
    tspan#figure-t(x='130') {{t}}
    tspan#figure-u(x='360') {{u}}
    tspan#figure-v(x='445') {{v}}

    tspan#figure-w(x='150', dy='100') {{w}}
    tspan#figure-x(x='330') {{x}}

    tspan#figure-c(x='240', dy='45') {{c}}

    tspan#figure-y(x='150', dy='45') {{y}}
    tspan#figure-z(x='330') {{z}}

    tspan(x='240', dy='50') 9
