svg(width='100%', viewBox='0 0 500 600', data-bind='click:$root.dbTest')
  style.
    <![CDATA[
      #background{
        fill:#fff;
      }
      
      #highlight{
        fill:yellow;
      }

      #boxes rect, #circles circle, #lines line{
        fill:#fff;
        stroke:#000;
        stroke-width:3;
      }

      #numbers{
        font-size:40px;
        font-family:Helvetica, Arial, Sans-Serif;
      }

      .bold{
        font-weight: bold;
      }
    ]]>
  
  rect#background(x='0',y='0',width='100%',height='100%')

  polygon#highlight(points='160,260 340,260 250,350')

  g#lines
    line(x1='0', y1='100', x2='500', y2='100')
    line(x1='0', y1='350', x2='500', y2='350')
    line(x1='0', y1='100', x2='250', y2='350')
    line(x1='500', y1='100', x2='250', y2='350')
    
    line(x1='250', y1='100', x2='250', y2='260')
    line(x1='80', y1='180', x2='420', y2='180')
    line(x1='160', y1='260', x2='340', y2='260')

  g#circles
    circle(r='30', cx='250', cy='95')
    circle(r='30', cx='250', cy='175')
    circle(r='30', cx='250', cy='255')
    circle(r='30', cx='250', cy='365')
 
    circle(r='30', cx='145', cy='175')
    circle(r='30', cx='365', cy='175')
  
  g#boxes
    rect(width='50', height='50', x='25', y='195')
    rect(width='50', height='50', x='430', y='195')

    rect(width='50', height='50', x='225', y='430')

  text#numbers
    tspan(x='240', y='110') 8
    tspan(x='240', y='190') 7
    tspan(x='240', y='270') 5
    tspan(x='240', y='380') 9
    
    tspan(x='135', y='190') 7
    tspan(x='355', y='190') 6

    tspan(x='60', y='75') 08
    tspan(dx='50') 20
    tspan(dx='70') 19
    tspan(dx='50') 96
    
    tspan(x='85', dy='75') 1
    tspan(x='180') 2
    tspan(x='305') 3
    tspan(x='405') 4

    tspan(x='180', dy='85') 3
    tspan(x='305') 7

    tspan(x='40') 9
    tspan(x='445') 6
     
    tspan(x='240', dy='89') 1
    tspan(x='40') 4
    tspan(x='130') 5
    tspan(x='360') 7
    tspan(x='445') 8

    tspan(x='150', dy='100') 8
    tspan(x='330') 8

    tspan(x='240', dy='45') 9

    tspan(x='150', dy='45') 4
    tspan(x='330') 7

    tspan(x='240', dy='50') 9
