body{
    background:#DDDDDD;
}

.mdl-layout{
    width:100%;
    max-width:480px;
    margin:0 auto;

    position:relative;

    background:#FFFFFF;
}

button.floating-button{
    position:absolute;
    bottom:24px;
    right:24px;
    cursor:pointer;
    z-index: 100;
}

.mdl-layout__drawer-button i{
    margin:12px;
}

.mdl-layout__content{
    padding:16px 20px;
}

#pg-search{
    header{
        color:#000;
        background:#fff;

        i{
            color:#000;
        }
    }

    .content{
        margin-top:1em;
    }

    button{
        width:100%;
    }
}

#pg-main{
    z-index:2000;
    
    .mdl-layout__header-row{
        display:flex;
        justify-content:space-between;
    }
}

#pg-main a, #pg-search a{
    color:inherit;
    text-decoration:none;
}

.contact__lifepath{
    font-size:2em;
}

.contact__star{
    color:#999;
    cursor:pointer;
}

.contact__star.is-active{
    color:inherit;
}

.contact__empty{
    color: #999;

    text-align:center;
    font-size:1.5em;
}

#add-form{
    display:flex;
    flex-flow:column;

    padding:0 1.5em;
    
    i{
        width:100%;
        font-size:13em;
        text-align:center;
    }

    .mdl-textfield{
        width:100%;

        input, label{
            text-align:center;
        }
    }

    .add-form__date{
        display:flex;
        justify-content:space-between;

        .mdl-textfield{
            width:30%;
        }        
    }

    button{
        margin:3em;
    }
}

#edit-form{
    display:flex;
    flex-flow:column;
    
    .mdl-textfield{
        width:100%;
    }

    textarea{
        resize:none;
    }
}

#panel-figure{
    button{
        width:100%;
    }
}

#panel-name{
    .content{
        display:flex;
        flex-flow:column;
        align-items:center;

        padding-top:1em;
    }

    #bar{
        margin-top:1.5em; 
    }

    #desc{
        margin-top:1em;
        text-align:center;
    }

    form{
        margin-top:1em;
        display:flex;
        flex-flow:column;
        align-items:center;
        
        input{
            text-align:center;
        }
        
        button{
            width:100%;
        }
    }
}

#pg-calcword .mdl-layout__content{
    display:flex;
    flex-flow:column;
    align-items:center;

    padding:1em 1.5em;

    form{
        text-align:center;

        input, button{
            width:100%;
        }
    } 
}

#pg-calcdate .mdl-layout__content{
    form{
        display:flex;
        justify-content:space-between;

        .mdl-textfield{
            width:30%;
           
            input, label{
                text-align:center;
            }
        }
    }

    button, #date-chart{
        width:100%;
        margin-bottom:2em;
    }
}

#panel-comp{
   form .fields{
        margin-top:1em;
        display:flex;
        align-items:center;
        
        input, label{
            text-align:center;
        }

        .mdl-textfield{
            margin:0 1em;
        }
    } 
    
    button{
        width:100%;
    }

    h4{
        margin:4em 0 0 0;
        text-align:center;
        font-weight:bold;
    }
    
    #comp-details{
        display:none;
    }

    #text{
        margin:1.5em 0 0.5em 0;
        text-align:center;
    }
}

/* Component - rating bar */
.rating-bar{
    width:(100% - 2em);
    height:1.5em;
    
    .bar{
        height:100%;
    }

    .bar1{
        width:100%;
        background:#2ecc40;
    }
    
    .bar2{
        width:80%;
        background:#01ff70;
    }

    .bar3{
        width:60%;
        background:#ffdc00;
    }

    .bar4{
        width:40%;
        background:#ff851b;
    }

    .bar5{
        width:20%;
        background:#ff4136;
    }
}
